/**README**/

/*DESKTOP*/
@media (min-width: 769px) {
    .bodyStyles {
        flex-flow: column wrap;
    }
}
.hamburgerMenu {
    display: flex;
    justify-content: space-between;
    display: none
}
.toolsStyles {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
.projectStyles {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.portfolioCardStyles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-decoration: none;
}
.divStyles {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/*NAV MENU*/
.navDesktop {
    display: flex;
    justify-content: space-between;
}
.btnNavStyles {
    display: flex;
}
/*header*/
.headerStyles {
    display: flex;
    justify-content: center;
    align-items: center;
}
.formStyles {
    display: flex;
    flex-wrap: wrap;
    width: 80%;

    input {
        display: flex;
        flex-wrap: wrap; 
        width: 100%;
        height: auto;
    }

    textarea {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
    }
}
.formElementStyles {
    display:flex;
    flex-wrap: wrap;
}
.formContainerStyles {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

/*footer*/

.footerWrapperStyles {
    display: flex;
    align-items: center;
}
.containerFooterLinkStyles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footerLeftStyles {
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;    
    flex-direction: row;
}
.footerRightStyles {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    
/*TABLET*/
@media (max-width: 768px) {
    .flex-container {
      flex-flow: column;
    }
    .hamburgerMenu {
        display: flex;
        justify-content: space-between;
    }
    .navDesktop{
        display: none;
    }
}
/*MOBILE DEVICE*/
@media (max-width: 540px) {
  .flex-container {
    flex-flow: column;
  }
}
